<script type="text/javascript" src="numformat.js"></script>

<script>
function testFormat(decimal, separator, format, number, expected){
	var f = new window.myntools.numFormat.Formatter(format, {'decimal':decimal, 'separator':separator});
	var r = f.format(number);
	console.log((expected===r ? 'OK' : 'FAIL') + ' because number [' + number + '] formatted with [' + format + '] results in [' + r + '] when expected is [' + expected + ']')
}

function testParse(decimal, separator, snumber, expected){
	var f = new window.myntools.numFormat.Formatter('', {'decimal':decimal, 'separator':separator});
	var r = f.parse(snumber);
	console.log((expected===r ? 'OK' : 'FAIL') + ' because parsed number [' + snumber + '] results in [' + r + '] when expected is [' + expected + ']')
}
//f1.format(10000.9935789)

//console.log()
//console.log(===)


testFormat('.', ',', '+#.###',     10000.9935789,                '+10,000.994');
testFormat('.', ',', '+#',         10000.9935789,                '+10,000');
testFormat('.', ',', '+#.###',     10000.0000089,                '+10,000');
testFormat('.', ',', '+#.',        10000.0000089,                '+10,000.0000089');
testFormat('.', ',', '+#.##',      10000.01,                     '+10,000.01');
testFormat('.', ',', '+#.##',      10000,                        '+10,000');

testFormat('.', ',', '+#.000',     10000,                        '+10,000.000');
testFormat('.', ',', '+#.000',     10000.0000089,                '+10,000.000');
testFormat('.', ',', '+#.000',     10000.01,                     '+10,000.010');

testFormat('.', ',', '#.###',      10000.9935789,                '10,000.994');
testFormat('.', ',', '#',          -10000.9935789,               '-10,000');
testFormat('.', ',', '+#.###',     -10000.0000089,               '-10,000');

testFormat('.', ',', '>15.+#.###',		-10000.0000089,         '........-10,000');
testFormat('.', ',', '<15.+#.###',		-10000.0000089,         '-10,000........');
testFormat('.', ',', '=15.+#.###',		-10000.0000089,         '....-10,000....');
testFormat('.', ',', '=14.+#.###',		-10000.0000089,         '....-10,000...');
testFormat('.', ',', '=5.+#.###',		-10000.0000089,			'-10,000');
testFormat('.', ',', '=15.+#.###',		10000.0000089,			'....+10,000....');

console.log('Parsing tests:')

testParse('.', ',',		'___+20,000.01___',				20000.01);
testParse('.', ',',		'___-20,000.01',				-20000.01);
testParse('.', ',',		'-20,000.01___',				-20000.01);
testParse('.', ',',		'____-20,000,000.01___',		-20000000.01);
</script>

open javascript console to see results.