<script type="text/javascript" src="eventies.js"></script>

<script>
var assertTrue = function(obj, expected){
	var is_ = obj.text
	var status = 'FAIL';
	if (is_ === expected) {status = 'OK';}
	console.log('[' + status + '] because result is [' + is_ + '] and expected is [' + expected + '] in test [' + obj.name + ']');
}

var assertFalse = function(obj, expected){
	var is_ = obj.text
	var status = 'FAIL';
	if (is_ !== expected) {status = 'OK';}
	console.log('[' + status + '] because result is [' + is_ + '] and expected is NOT [' + expected + '] in test [' + obj.name + ']');
}

var Testo = function(name){
	this.name = name
	this.e = new window.myntools.eventies(this);
	this.text = '';

	this.addText = function(text){
		if (this.text !== ''){
			this.text += ' ';
		}
		this.text += text;
	}

	this.init = function(){}
}



var nt = new Testo('Different ways to fire event');
nt.init = function(){
	this.e.register('event1.test', function(){this.addText('event1.test')});
	this.e.fire('event1.test');
	this.e.fire('event1.*');
	this.e.fire('event1');
}
nt.init();
assertTrue(nt, 'event1.test event1.test event1.test')


var nt = new Testo('Test 2');
nt.init = function(){
	this.e.register('event1.test', function(){this.addText('event1.test')});
	this.e.register('event2.test', function(){this.addText('event2.test')});
	this.e.fire('event1');
	this.e.fire('event2');
	this.e.fire('event1');
}
nt.init();
assertTrue(nt, 'event1.test event2.test event1.test')


var nt = new Testo('Test 3: Simple unregister');
nt.init = function(){
	this.e.register('event1.test', function(){this.addText('event1.test')});
	this.e.register('event2.test', function(){this.addText('event2.test')});
	this.e.unregister('event1');
	this.e.fire('event1');
	this.e.fire('event2');
}
nt.init();
assertTrue(nt, 'event2.test')


var nt = new Testo('Test 4: Unregister other namespace');
nt.init = function(){
	this.e.register('event1.test', function(){this.addText('event1.test')});
	this.e.register('event2.test', function(){this.addText('event2.test')});
	this.e.unregister('event1.fake');
	this.e.fire('event1');
	this.e.fire('event2');
}
nt.init();
assertTrue(nt, 'event1.test event2.test')

var nt = new Testo('Test 5: Unregister with asterisk ns');
nt.init = function(){
	this.e.register('event1.test', function(){this.addText('event1.test')});
	this.e.register('event2.test', function(){this.addText('event2.test')});
	this.e.unregister('event1.*');
	this.e.fire('event1');
	this.e.fire('event2');
}
nt.init();
assertTrue(nt, 'event2.test')

var nt = new Testo('Same type, different ns');
nt.init = function(){
	this.e.register('event1.test1', function(){this.addText('test1')});
	this.e.register('event1.test2', function(){this.addText('test2')});
	this.e.register('event1.test3', function(){this.addText('test3')});
	this.e.register('event2.test1', function(){this.addText('2.test1')});
	this.e.register('event2.test2', function(){this.addText('2.test2')});

	this.e.fire('event1.test1');
	this.e.fire('event1.test2');
	this.e.fire('event1');
}
nt.init();
assertTrue(nt, 'test1 test2 test1 test2 test3')

var nt = new Testo('Fire once');
nt.init = function(){
	this.e.registerOnce('event1.test1', function(){this.addText('test1')});
	this.e.register('event1.test2', function(){this.addText('test2')});

	this.e.fire('event1');
	this.e.fire('event1.*');
	this.e.fire('event1.test1');
}
nt.init();
assertTrue(nt, 'test1 test2 test2')

</script>

open javascript console to see results.